@font-face {
    font-family: "PressStart2P-Regular";
    src: url("../fonts/PressStart2P-Regular.ttf");
}

.root {
    -fx-font-family: "PressStart2P-Regular";
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

.opening-game-course-title {
    -fx-font-family:"PressStart2P-Regular";
    -fx-text-fill:rgba(210,169,77,1);
    -fx-font-size:21px;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box, black, 5, 00, 1, 1);
}

.screen-title {
    -fx-font-family:"PressStart2P-Regular";
    -fx-text-fill:rgba(240,201,149,1);
    -fx-effect:dropshadow(three-pass-box, black, 5, 00, 1, 1);
    -fx-font-size:24px;
    -fx-font-weight:bold;
}

.screen-label {
    -fx-font-family:"PressStart2P-Regular";
    -fx-text-fill:rgba(240,201,149,1);
    -fx-effect:dropshadow(three-pass-box, black, 5, 00, 1, 1);
    -fx-font-size:17px;
    -fx-font-weight:bold;
}

.screen-credits-label {
    -fx-font-family:"PressStart2P-Regular";
    -fx-text-fill:rgba(232,177,103,1);
    -fx-font-size:21px;
    -fx-font-weight:bold;
}


.screen-controller-label {
    -fx-font-family:"PressStart2P-Regular";
    -fx-text-fill:rgba(240,201,149,1);
    -fx-font-size:14px;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box, black, 5, 00, 1, 1);
}
.screen-credits-teams-name-label {
    -fx-font-family:"PressStart2P-Regular";
    -fx-text-fill:rgba(232,177,103,1);
    -fx-text-fill:rgba(240,201,149,1);
    -fx-font-size:17px;
    -fx-font-weight:bold;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

.status-text {
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,1), 20, .5, 0, 0);
}
.character-name-label {
    -fx-text-fill:rgba(240,201,149,1);
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,1), 20, .5, 0, 0);
}

/* ============================================================================================================ */
/* ================================================== BUTTON ================================================== */
/* ============================================================================================================ */

.button-image {
    -fx-background-color:rgba(0,0,0,0);
    -fx-text-fill:rgba(0,0,0,0);
    -fx-cursor:hand;
}
.button-image:hover {
    -fx-background-color:rgba(0,0,0,0);
    -fx-text-fill:rgba(0,0,0,0);
}


.button-action-image {
    -fx-background-color:rgba(0,0,0,0);
    -fx-text-fill:rgba(0,0,0,0);
    -fx-cursor:hand;
}
.button-action-image:hover {
    -fx-background-color:rgba(0,0,0,0);
    -fx-text-fill:rgba(0,0,0,0);
}

.button-action-image:disabled .action-used {
    -fx-effect:innershadow(gaussian, rgba(0,0,0,.5), 100, 100, 0, 0);
}


.button-text {
    -fx-font-family:"PressStart2P-Regular";
    /* -fx-background-color:rgba(133,123,102,1); */
    /* -fx-text-fill:rgba(224,221,214,1);*/
    -fx-background-color:rgba(232,177,103,1);
    -fx-text-fill:rgba(60,30,14,1);
    -fx-font-size:17px;
    -fx-font-weight:bold;
    -fx-pref-width:230px;
    -fx-cursor:hand;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,.2), 5, 0, 3, 3);
}
.button-text:hover {
    /* -fx-background-color:rgba(127,84,72,1);*/
    -fx-background-color:rgba(137,107,88,1);
    /* -fx-background-color:rgba(127,84,72,1);*/
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,1), 5, 0, 3, 3);
}

.button-arrow {
    -fx-background-color:rgba(232,177,103,1);
    -fx-fill:rgba(60,30,14,1);
    -fx-font-size:17px;
    -fx-font-weight:bold;
    -fx-pref-width:30px;
    -fx-cursor:hand;
}

.button-arrow:hover {
    -fx-background-color:rgba(60,30,14,1);
    -fx-fill:rgba(232,177,103,1);
}

.button-arrow .button-icon {
    -fx-fill:rgba(60,30,14,1);

}

.button-arrow:hover .button-icon{
    -fx-fill:rgba(232,177,103,1);
}

.slider-settings {
    -fx-text-color:rgba(240,201,149,1);
}


.slider-settings .thumb {
    -fx-background-color:rgba(232,177,103,1);
    -fx-padding: 8px;
}
.slider-settings .track {
    -fx-background-color:rgba(240,201,149,1);
    -fx-text-color:rgba(240,201,149,1);
    -fx-pref-height: 3px;
}
.slider-settings:focused .thumb {
    -fx-background-color:rgba(60,30,14,1);
}
.slider-settings .axis {
    -fx-tick-label-fill:rgba(240,201,149,1);
    -fx-tick-label-font-size:10px;
    -fx-tick-label-font-family:Arial;
    -fx-tick-mark-stroke: rgba(240,201,149,1);
}



/* ============================================================================================================ */
/* ======================================== SPLIT MENU BUTTON SETTINGS ======================================== */
/* ============================================================================================================ */
.split-menu-button-settings {
    -fx-background-color: rgba(240,201,149,1);
    -fx-border-color: rgba(60,30,14,1);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 4;
}
.split-menu-button-settings:hover {
    -fx-border-radius: 5 5 5 0;
    -fx-background-radius: 5 5 0 0;
}

.split-menu-button-settings > .label {
    -fx-text-fill: rgba(60,30,14,1);
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-weight:bold;
}

.split-menu-button-settings > .arrow-button {
    -fx-background-color: rgba(240,201,149,1);
    -fx-background-radius: 0 5 5 0;
    -fx-border-radius: 0 5 5 0;
    -fx-border-width: 0;
}

.split-menu-button-settings > .arrow-button > .arrow {
    -fx-background-color:rgba(60,30,14,1);
}

.split-menu-button-settings:hover {
    -fx-background-color:rgba(60,30,14,1);
}
.split-menu-button-settings:hover .arrow-button {
    -fx-background-color:rgba(60,30,14,1);
}
.split-menu-button-settings:hover .arrow-button > .arrow {
    -fx-background-color: rgba(240,201,149,1);
}
.split-menu-button-settings:hover > .label {
    -fx-text-fill:  rgba(240,201,149,1);
}



.split-menu-button-settings .context-menu {
    -fx-background-color: rgba(240,201,149,1);
    -fx-pref-width:200px;
    -fx-border-color:rgba(60,30,14,1);
    -fx-text-fill:rgba(60,30,14,1);
    -fx-border-width:1;
    -fx-padding:0;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,.25), 5, 0, 3, 3);
}

.split-menu-button-settings:hover .context-menu .menu-item {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgba(60,30,14,1);
}



.split-menu-button-settings .context-menu .menu-item {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgba(240,201,149,1);
    -fx-cursor:hand;
    -fx-padding:5px;
    -fx-border-color: rgba(240,201,149,1);
}




.split-menu-button-settings:hover .context-menu .menu-item .label {
    -fx-text-fill: rgba(60,30,14,1);
}



.split-menu-button-settings .context-menu .menu-item .label{
    -fx-text-fill: rgba(60,30,14,1);
    -fx-background-color:rgba(0,0,0,0);
}


.split-menu-button-settings .context-menu .menu-item:focused {
    -fx-background-color:rgba(60,30,14,1);
    -fx-text-fill: rgba(240,201,149,1);
}
.split-menu-button-settings .context-menu .menu-item:focused .label {
    -fx-text-fill: rgba(240,201,149,1);
}


.split-menu-button-settings .context-menu .menu-item:hover {
    -fx-background-color:rgba(60,30,14,1);
}
.split-menu-button-settings .context-menu .menu-item:hover .label {
    -fx-text-fill: rgba(240,201,149,1);
}


/* ============================================================================================================ */
/* ================================================ TEXT FIELDS =============================================== */
/* ============================================================================================================ */
.field-name {
    -fx-background-color:rgba(240,201,149,1);
    -fx-background-radius:5px;
    -fx-text-fill:rgba(60,30,14,1);
    -fx-prompt-text-fill:rgba(60,30,14,.5);
    -fx-font-size:14px;
    -fx-border-color:rgba(60,30,14,1);
    -fx-border-width:1px;
    -fx-border-radius:5px;
    -fx-background-insets:0;
}